{% extends "layout.html" %}

{% block title %}
    Current Holdings
{% endblock %}

{% block main %}
    <table class = "table table-striped">
        <thead>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <!-- <th>Gain (%)</th> -->
            <!-- <th>Cost Basis</th> -->
            <th>Total</th>
        </thead>

        <tbody>
            {% for holding in holdings %}
            <tr>
                <td>{{holding["symbol"]}}</td>
                <td>{{holding["name"]}}</td>
                <td>{{holding["shares"]}}</td>
                <!-- <td>{{holding["gain"]}}</td> -->
                <!-- <td>{{holding["costBasis"]}}</td> -->
                <td>{{holding["curValue"]}}</td>
            </tr>
            {% endfor %}

            <tr>
                <td colspan = "2"></td>
                <td><b>Cash Balance</b></td>
                <td>{{cash}}</td>
            </tr>

        </tbody>

        <tfoot>
            <tr>
                <td colspan = "2"></td>
                <td><b>Portfolio Value</b></td>
                <td><B>{{total}}</B></td>
            </tr>
        </tfoot>

    </table>


    <p><b>New Deposit</b></p>
    <form action="/" method="post">
        <div class="form-group">
            <input autocomplete="off" class="form-control" min="1" name="cashDeposit" placeholder="Amount" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>

{% endblock %}
